$color-font: #111;
$color-font01: #eee;
$color-font02: #fff;
$color-bg-default: #eaeaea;
$color-bg-01: #3763cb;
$color-bg-02: #368abe;
$color-bg-03: #293fd1;
$color-bg-04: #6064ff;
$font-default: Arial, Helvetica, sans-serif;