$color-font: #111;
$color-font01: #ccc;
$color-font02: #fff;
$color-font03: #666;
$color-font04: #000;
$color-bg-default: #eaeaea;
$color-bg-01: #3763cb;
$color-bg-02: #368abe;
$color-bg-03: #293fd1;
$color-bg-04: #6064ff;
$color-bg-05: rgba(255, 255, 255, 0);
$color-bg-06: rgba(255, 255, 255, 1);
$font-default: Arial, Helvetica, sans-serif;